<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xpert Grocery Manager | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-dark text-white border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">XpertGroceryManager</a>
            </div>
            <div class="list-group list-group-flush">
                <a asp-area="" asp-controller="Home"
                   asp-action="Dashboard" class="list-group-item list-group-item-action text-white bg-dark">Dashboard</a>
                <a asp-area="" asp-controller="Categories" asp-action="Index"
                   class="list-group-item list-group-item-action text-white bg-dark">Category</a>
                <a asp-area="" asp-controller="Products" asp-action="Index"
                   class="list-group-item list-group-item-action text-white bg-dark">Products</a>
                <a asp-area="" asp-controller="Customers" asp-action="Index"
                   class="list-group-item list-group-item-action text-white bg-dark">Customers</a>
                <a asp-area="" asp-controller="Products" asp-action="ProductStock"
                   class="list-group-item list-group-item-action text-white bg-dark">Stock</a>
                <a asp-area="" asp-controller="Products" asp-action="StockClearance"
                   class="list-group-item list-group-item-action text-white bg-dark">Clearance</a>
                <a asp-area="" asp-controller="Products" asp-action="OutOfStock"
                   class="list-group-item list-group-item-action text-white bg-dark">Out of Stock</a>
                <a asp-area="" asp-controller="Sales" asp-action="Index"
                   class="list-group-item list-group-item-action text-white bg-dark">Sales</a>
                <a asp-area="" asp-controller="Customers" asp-action="InactiveCustomers"
                   class="list-group-item list-group-item-action text-white bg-dark">Inactive Customers</a>
                <a asp-area="" asp-controller="Products" asp-action="UnsoldProducts"
                   class="list-group-item list-group-item-action text-white bg-dark">Unsold Products</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

                <button id="menu-toggle">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <partial name="_LoginPartial" />
                </div>
            </nav>

            <div class="container-fluid">
                <main role="main" class="p-3">
                    @RenderBody()
                </main>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Xpert Grocery Manager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
