@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1>Xpert Grocery Manager</h1>
</div>
<div class="row">
    <div class="col-md-6 ml-3">
        <h2>Welcome to Xpert Grocery Manager</h2>
        <h5>Login to get started.</h5>
        <p>
            Xpert Grocery Manager is an Inventory Management System 
            for small grocery businesses. It allows managing products, 
            stock, sales and purchases.
        </p>
    </div>
</div>
